{% load static %}
{% load google_analytics %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Crowdsourced NBA players ranking{% endblock title %}</title>

    <link rel="icon" type="image/png" href="{% static 'nba_rank/img/favicon-32x32.png' %}" sizes="32x32">
    <link rel="apple-touch-icon-precomposed" href="{% static 'nba_rank/img/favicon-152x152.png' %}" sizes="152x152">

    <!-- Base -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/paper/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Plugins -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/themes/tooltipster-shadow.min.css">

    <!-- Own -->
    <link rel="stylesheet" href="{% static 'nba_rank/css/style.css' %}">

    {% google_analytics %}
</head>

<body>
{% block body %}
    {% block nav %}
        {% include 'partials/nav.html' %}
    {% endblock nav %}

    {% block container %}
        <div class="container">
            {% include 'partials/messages.html' %}

            {% block content %}{% endblock content %}
        </div>
    {% endblock container %}
    
    {% block footer %}
        {% include 'partials/footer.html' %}
    {% endblock %}

    {% block base_js %}
        <!-- Base -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <!-- Plugins -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js"></script>

        <script>
            $(document).ready(function () {
                <!-- magnific-popup -->
                $('.ajax-popup-link').magnificPopup({
                    type: 'ajax'
                });
            });
        </script>
    {% endblock base_js %}

    {% block extra_js %}{% endblock extra_js %}

{% endblock body %}
</body>

</html>