<div class="white-popup">
    <div class="text-center">
        <h2>{{ _("Who is better?") }}</h2>
    </div>
    <hr>
    <div class="row">
        {# Player A #}
        <div class="col-md-5">
            <img src="{{ player_season_a.player.photo.url }}" alt="{{ player_season_a.player.get_full_name }}" class="img-thumbnail center-block">

            <a class="btn btn-primary btn-lg btn-block" role="button"
               href="{% url 'vote_save' player_season_a_key %}">
                {{ player_season_a.player.get_full_name }} ({{ player_season_a.team.abbr }})
            </a>
        </div>

        {# Tie #}
        <div class="col-md-2" id="tie">
            <a class="btn btn-warning btn-lg btn-block" role="button"
               href="{% url 'vote_save' tie_key %}">
                {{ _("tie") }}
            </a>
        </div>

        {# Player B #}
        <div class="col-md-5">
            <img src="{{ player_season_b.player.photo.url }}" alt="{{ player_season_b.player.get_full_name }}" class="img-thumbnail center-block">

            <a class="btn btn-primary btn-lg btn-block" role="button"
               href="{% url 'vote_save' player_season_b_key %}">
                {{ player_season_b.player.get_full_name }} ({{ player_season_b.team.abbr }})
            </a>
        </div>
    </div>
</div>