{% load i18n %}
{% load utils_tags %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <a href="https://github.com/pawelad/nba-rank" title="{{ _("source")|capfirst }}" target="_blank">
                    <i class="fa fa-github-square fa-2x"></i>
                </a>
            </div>
            
            <div class="col-xs-8">
                <p class="text-center">
                    {% total_votes as total_votes %}
                    {% blocktrans trimmed %}
                        Made by <a href="https://pawelad.xyz" target="_blank">pawelad</a>
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                        Total number of votes: {{ total_votes }}
                    {% endblocktrans %}
                </p>
            </div>
            
            <div class="col-xs-2">
                <p class="text-muted pull-right">
                    v{% get_version %}
                </p>
            </div>
        </div>
    </div>
</footer>