<nav class="navbar navbar-default navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{% url 'index' %}" class="navbar-brand">
                NBA Rank
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {# Left side #}
            <ul class="nav navbar-nav">
                {% if available_seasons|length > 1 %}
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            {{ season }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for season in available_seasons %}
                                <li>
                                    <a href="{% url 'ranking' season %}">{{ season }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li class="active">
                        <a href="{% url 'ranking' season %}">{{ season }}</a>
                    </li>
                {% endif %}
            </ul>

            {# Right side #}
            <div class="pull-right">
                <p class="navbar-text">
                    Crowdsourced NBA players ranking
                </p>

                <a href="{% url 'vote_modal' season %}" class="btn btn-success navbar-btn ajax-popup-link" role="button">
                    {{ _("vote")|capfirst }}
                </a>
            </div>
        </div>
    </div>
</nav>